<html lang="en" ng-app="foodfiddler" ng-controller="FoodFiddlerCtrl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://i.imgur.com/PxqL7Pj.png">
    <link href="common/data/fonts/generated/iconfont.css?rel=8eb36ed043" rel="stylesheet">
    <link href="foodfiddler.css?rel=3717351773" rel="stylesheet"/>
</head>
<style>
    body, .body-content {
        font-family: 'Quicksand', sans-serif;
        color: #6C6D70;
        background: url('https://subtlepatterns.com/patterns/asanoha-400px.png');
    }
</style>
<body ng-cloak>
<div>
<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded" style="padding: 0;">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <div class="brand-wrapper">
            <a class="navbar-brand" href="#"><b>food</b>fiddler</a>
            <div class="nav-search">
                <label id="search-label" for="search-input"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search icons</span></label>
                <ff-autosuggest trigger-length="2"
                                placeholder="recipes..."
                                search-term="$root.searchText"
                                on-select="select(item)"
                                empty-on-blur="true"
                                on-search="search(searchTerm)">
                    <div class="displayInlineBlock">{{item.title | ffTitleCase}}</div>
                </ff-autosuggest>
            </div>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-class="{active : isSelected('home')}">
                <a class="nav-link" href="#/home">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span class="nav-text">HOME</span>
                    <span data-ng-if="isSelected('home')" class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" ng-class="{active : isSelected('add')}" data-ng-if="isAdmin()">
                <a class="nav-link" href="#/add/">
                    <i class="fa fa-utensils" aria-hidden="true"></i>
                    <span class="nav-text">CREATE</span>
                    <span data-ng-if="isSelected('add')" class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav right-nav">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" id="accountDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <span class="nav-text">{{$root.user.displayName}}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="accountDropdown">
                    <a class="dropdown-item" data-ng-click="decideAction()">
                        {{$root.user.loggedIn ? 'Sign out' : 'Login'}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="body-content">
    <div class="container recipe-container padding18px">
            <div ng-view autoscroll="true"></div>
    </div>
</div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBJkpxrOHdLy77wkshCeYuVSSUVSM-H6xA",
        authDomain: "foodfiddler.firebaseapp.com",
        databaseURL: "https://foodfiddler.firebaseio.com",
        storageBucket: "foodfiddler.appspot.com",
        messagingSenderId: "439145630216"
    };
    firebase.initializeApp(config);
</script>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>

<script src="app.js?rel=e2c09cf6be"></script>

</body>
</html>