@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?d6q8j0');
  src:  url('icomoon.eot?d6q8j0#iefix') format('embedded-opentype'),
    url('icomoon.ttf?d6q8j0') format('truetype'),
    url('icomoon.woff?d6q8j0') format('woff'),
    url('icomoon.svg?d6q8j0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-BANANA:before {
  content: "\e900";
}
.icon-BROWN_SUG:before {
  content: "\e901";
}
.icon-BUTTER:before {
  content: "\e902";
}
.icon-CLOCK:before {
  content: "\e903";
}
.icon-COCOA:before {
  content: "\e904";
}
.icon-COW:before {
  content: "\e906";
}
.icon-COW_F:before {
  content: "\e907";
}
.icon-CREAM_CH:before {
  content: "\e908";
}
.icon-EGG:before {
  content: "\e909";
}
.icon-EGG_W:before {
  content: "\e90a";
}
.icon-FLOUR:before {
  content: "\e90b";
}
.icon-KISS:before {
  content: "\e90c";
}
.icon-MARG:before {
  content: "\e90d";
}
.icon-MIT:before {
  content: "\e90e";
}
.icon-PEANUT:before {
  content: "\e90f";
}
.icon-PIE_SHELL:before {
  content: "\e910";
}
.icon-POW_SUGAR:before {
  content: "\e911";
}
.icon-PRETZEL:before {
  content: "\e912";
}
.icon-PUDDING:before {
  content: "\e913";
}
.icon-PUMPKIN:before {
  content: "\e914";
}
.icon-RIBS:before {
  content: "\e915";
}
.icon-SAUCE:before {
  content: "\e916";
}
.icon-SERVE:before {
  content: "\e917";
}
.icon-SHORT:before {
  content: "\e918";
}
.icon-SOUR_CRM:before {
  content: "\e919";
}
.icon-SPOON:before {
  content: "\e91a";
}
.icon-SUGAR:before {
  content: "\e91b";
}
.icon-UTIL:before {
  content: "\e91c";
}
.icon-VANILLA:before {
  content: "\e91d";
}
.icon-VEG_OIL:before {
  content: "\e91e";
}
.icon-COCOA2:before {
  content: "\e905";
}

