@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?51e0c5ee9f927be6137e658a94352d14?#iefix") format("embedded-opentype"),
url("iconfont.woff2?51e0c5ee9f927be6137e658a94352d14") format("woff2"),
url("iconfont.woff?51e0c5ee9f927be6137e658a94352d14") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-BANANA:before {
	content: "\f101";
}
.icon-BROWN_SUG:before {
	content: "\f102";
}
.icon-BUTTER:before {
	content: "\f103";
}
.icon-CLOCK:before {
	content: "\f104";
}
.icon-COCOA:before {
	content: "\f105";
}
.icon-COCOA2:before {
	content: "\f106";
}
.icon-COW_F:before {
	content: "\f107";
}
.icon-COW:before {
	content: "\f108";
}
.icon-CREAM_CH:before {
	content: "\f109";
}
.icon-EGG_W:before {
	content: "\f10a";
}
.icon-EGG:before {
	content: "\f10b";
}
.icon-FLOUR:before {
	content: "\f10c";
}
.icon-KISS:before {
	content: "\f10d";
}
.icon-MARG:before {
	content: "\f10e";
}
.icon-MIT:before {
	content: "\f10f";
}
.icon-PEANUT:before {
	content: "\f110";
}
.icon-PIE_SHELL:before {
	content: "\f111";
}
.icon-POW_SUGAR:before {
	content: "\f112";
}
.icon-PRETZEL:before {
	content: "\f113";
}
.icon-PUDDING:before {
	content: "\f114";
}
.icon-PUMPKIN:before {
	content: "\f115";
}
.icon-RIBS:before {
	content: "\f116";
}
.icon-SAUCE:before {
	content: "\f117";
}
.icon-SERVE:before {
	content: "\f118";
}
.icon-SHORT:before {
	content: "\f119";
}
.icon-SOUR_CRM:before {
	content: "\f11a";
}
.icon-SPOON:before {
	content: "\f11b";
}
.icon-SUGAR:before {
	content: "\f11c";
}
.icon-uniF100:before {
	content: "\f11d";
}
.icon-uniF101:before {
	content: "\f11e";
}
.icon-uniF102:before {
	content: "\f11f";
}
.icon-uniF103:before {
	content: "\f120";
}
.icon-uniF104:before {
	content: "\f121";
}
.icon-uniF105:before {
	content: "\f122";
}
.icon-uniF106:before {
	content: "\f123";
}
.icon-uniF107:before {
	content: "\f124";
}
.icon-uniF108:before {
	content: "\f125";
}
.icon-uniF109:before {
	content: "\f126";
}
.icon-uniF10A:before {
	content: "\f127";
}
.icon-uniF10B:before {
	content: "\f128";
}
.icon-uniF10C:before {
	content: "\f129";
}
.icon-uniF10D:before {
	content: "\f12a";
}
.icon-uniF10E:before {
	content: "\f12b";
}
.icon-uniF10F:before {
	content: "\f12c";
}
.icon-uniF110:before {
	content: "\f12d";
}
.icon-uniF111:before {
	content: "\f12e";
}
.icon-uniF112:before {
	content: "\f12f";
}
.icon-uniF113:before {
	content: "\f130";
}
.icon-uniF114:before {
	content: "\f131";
}
.icon-uniF115:before {
	content: "\f132";
}
.icon-uniF116:before {
	content: "\f133";
}
.icon-uniF117:before {
	content: "\f134";
}
.icon-uniF118:before {
	content: "\f135";
}
.icon-uniF119:before {
	content: "\f136";
}
.icon-uniF11A:before {
	content: "\f137";
}
.icon-uniF11B:before {
	content: "\f138";
}
.icon-uniF11C:before {
	content: "\f139";
}
.icon-uniF11D:before {
	content: "\f13a";
}
.icon-uniF11E:before {
	content: "\f13b";
}
.icon-uniF11F:before {
	content: "\f13c";
}
.icon-uniF120:before {
	content: "\f13d";
}
.icon-uniF121:before {
	content: "\f13e";
}
.icon-uniF122:before {
	content: "\f13f";
}
.icon-uniF123:before {
	content: "\f140";
}
.icon-uniF124:before {
	content: "\f141";
}
.icon-uniF125:before {
	content: "\f142";
}
.icon-uniF126:before {
	content: "\f143";
}
.icon-uniF127:before {
	content: "\f144";
}
.icon-uniF128:before {
	content: "\f145";
}
.icon-uniF129:before {
	content: "\f146";
}
.icon-uniF12A:before {
	content: "\f147";
}
.icon-uniF12B:before {
	content: "\f148";
}
.icon-uniF12C:before {
	content: "\f149";
}
.icon-uniF12D:before {
	content: "\f14a";
}
.icon-uniF12E:before {
	content: "\f14b";
}
.icon-uniF12F:before {
	content: "\f14c";
}
.icon-uniF130:before {
	content: "\f14d";
}
.icon-uniF131:before {
	content: "\f14e";
}
.icon-uniF132:before {
	content: "\f14f";
}
.icon-uniF133:before {
	content: "\f150";
}
.icon-uniF134:before {
	content: "\f151";
}
.icon-uniF135:before {
	content: "\f152";
}
.icon-uniF136:before {
	content: "\f153";
}
.icon-uniF137:before {
	content: "\f154";
}
.icon-uniF138:before {
	content: "\f155";
}
.icon-uniF139:before {
	content: "\f156";
}
.icon-uniF13A:before {
	content: "\f157";
}
.icon-uniF13B:before {
	content: "\f158";
}
.icon-uniF13C:before {
	content: "\f159";
}
.icon-uniF13D:before {
	content: "\f15a";
}
.icon-uniF13E:before {
	content: "\f15b";
}
.icon-uniF13F:before {
	content: "\f15c";
}
.icon-uniF140:before {
	content: "\f15d";
}
.icon-uniF141:before {
	content: "\f15e";
}
.icon-uniF142:before {
	content: "\f15f";
}
.icon-uniF143:before {
	content: "\f160";
}
.icon-uniF144:before {
	content: "\f161";
}
.icon-uniF145:before {
	content: "\f162";
}
.icon-uniF146:before {
	content: "\f163";
}
.icon-uniF147:before {
	content: "\f164";
}
.icon-uniF148:before {
	content: "\f165";
}
.icon-uniF149:before {
	content: "\f166";
}
.icon-uniF14A:before {
	content: "\f167";
}
.icon-uniF14B:before {
	content: "\f168";
}
.icon-uniF14C:before {
	content: "\f169";
}
.icon-uniF14D:before {
	content: "\f16a";
}
.icon-uniF14E:before {
	content: "\f16b";
}
.icon-uniF14F:before {
	content: "\f16c";
}
.icon-uniF150:before {
	content: "\f16d";
}
.icon-uniF151:before {
	content: "\f16e";
}
.icon-uniF152:before {
	content: "\f16f";
}
.icon-uniF153:before {
	content: "\f170";
}
.icon-uniF154:before {
	content: "\f171";
}
.icon-uniF155:before {
	content: "\f172";
}
.icon-uniF156:before {
	content: "\f173";
}
.icon-uniF157:before {
	content: "\f174";
}
.icon-uniF158:before {
	content: "\f175";
}
.icon-uniF159:before {
	content: "\f176";
}
.icon-uniF15A:before {
	content: "\f177";
}
.icon-uniF15B:before {
	content: "\f178";
}
.icon-uniF15C:before {
	content: "\f179";
}
.icon-uniF15D:before {
	content: "\f17a";
}
.icon-uniF15E:before {
	content: "\f17b";
}
.icon-uniF15F:before {
	content: "\f17c";
}
.icon-uniF160:before {
	content: "\f17d";
}
.icon-uniF161:before {
	content: "\f17e";
}
.icon-uniF162:before {
	content: "\f17f";
}
.icon-uniF163:before {
	content: "\f180";
}
.icon-uniF164:before {
	content: "\f181";
}
.icon-uniF165:before {
	content: "\f182";
}
.icon-uniF166:before {
	content: "\f183";
}
.icon-uniF167:before {
	content: "\f184";
}
.icon-uniF168:before {
	content: "\f185";
}
.icon-uniF169:before {
	content: "\f186";
}
.icon-uniF16A:before {
	content: "\f187";
}
.icon-uniF16B:before {
	content: "\f188";
}
.icon-uniF16C:before {
	content: "\f189";
}
.icon-uniF16D:before {
	content: "\f18a";
}
.icon-uniF16E:before {
	content: "\f18b";
}
.icon-uniF16F:before {
	content: "\f18c";
}
.icon-uniF170:before {
	content: "\f18d";
}
.icon-uniF171:before {
	content: "\f18e";
}
.icon-uniF172:before {
	content: "\f18f";
}
.icon-uniF173:before {
	content: "\f190";
}
.icon-uniF174:before {
	content: "\f191";
}
.icon-uniF175:before {
	content: "\f192";
}
.icon-uniF176:before {
	content: "\f193";
}
.icon-uniF177:before {
	content: "\f194";
}
.icon-uniF178:before {
	content: "\f195";
}
.icon-uniF179:before {
	content: "\f196";
}
.icon-uniF17A:before {
	content: "\f197";
}
.icon-uniF17B:before {
	content: "\f198";
}
.icon-uniF17C:before {
	content: "\f199";
}
.icon-uniF17D:before {
	content: "\f19a";
}
.icon-uniF17E:before {
	content: "\f19b";
}
.icon-uniF17F:before {
	content: "\f19c";
}
.icon-uniF180:before {
	content: "\f19d";
}
.icon-uniF181:before {
	content: "\f19e";
}
.icon-uniF182:before {
	content: "\f19f";
}
.icon-uniF183:before {
	content: "\f1a0";
}
.icon-uniF184:before {
	content: "\f1a1";
}
.icon-uniF185:before {
	content: "\f1a2";
}
.icon-uniF186:before {
	content: "\f1a3";
}
.icon-uniF187:before {
	content: "\f1a4";
}
.icon-uniF188:before {
	content: "\f1a5";
}
.icon-uniF189:before {
	content: "\f1a6";
}
.icon-uniF18A:before {
	content: "\f1a7";
}
.icon-uniF18B:before {
	content: "\f1a8";
}
.icon-uniF18C:before {
	content: "\f1a9";
}
.icon-uniF18D:before {
	content: "\f1aa";
}
.icon-uniF18E:before {
	content: "\f1ab";
}
.icon-uniF18F:before {
	content: "\f1ac";
}
.icon-uniF190:before {
	content: "\f1ad";
}
.icon-uniF191:before {
	content: "\f1ae";
}
.icon-uniF192:before {
	content: "\f1af";
}
.icon-uniF193:before {
	content: "\f1b0";
}
.icon-uniF194:before {
	content: "\f1b1";
}
.icon-uniF195:before {
	content: "\f1b2";
}
.icon-uniF196:before {
	content: "\f1b3";
}
.icon-uniF197:before {
	content: "\f1b4";
}
.icon-uniF198:before {
	content: "\f1b5";
}
.icon-uniF199:before {
	content: "\f1b6";
}
.icon-uniF19A:before {
	content: "\f1b7";
}
.icon-uniF19B:before {
	content: "\f1b8";
}
.icon-uniF19C:before {
	content: "\f1b9";
}
.icon-uniF19D:before {
	content: "\f1ba";
}
.icon-uniF19E:before {
	content: "\f1bb";
}
.icon-uniF19F:before {
	content: "\f1bc";
}
.icon-uniF1A0:before {
	content: "\f1bd";
}
.icon-uniF1A1:before {
	content: "\f1be";
}
.icon-uniF1A2:before {
	content: "\f1bf";
}
.icon-uniF1A3:before {
	content: "\f1c0";
}
.icon-uniF1A4:before {
	content: "\f1c1";
}
.icon-uniF1A5:before {
	content: "\f1c2";
}
.icon-uniF1A6:before {
	content: "\f1c3";
}
.icon-uniF1A7:before {
	content: "\f1c4";
}
.icon-uniF1A8:before {
	content: "\f1c5";
}
.icon-uniF1A9:before {
	content: "\f1c6";
}
.icon-uniF1AA:before {
	content: "\f1c7";
}
.icon-uniF1AB:before {
	content: "\f1c8";
}
.icon-uniF1AC:before {
	content: "\f1c9";
}
.icon-uniF1AD:before {
	content: "\f1ca";
}
.icon-uniF1AE:before {
	content: "\f1cb";
}
.icon-uniF1AF:before {
	content: "\f1cc";
}
.icon-uniF1B0:before {
	content: "\f1cd";
}
.icon-uniF1B1:before {
	content: "\f1ce";
}
.icon-uniF1B2:before {
	content: "\f1cf";
}
.icon-uniF1B3:before {
	content: "\f1d0";
}
.icon-uniF1B4:before {
	content: "\f1d1";
}
.icon-uniF1B5:before {
	content: "\f1d2";
}
.icon-uniF1B6:before {
	content: "\f1d3";
}
.icon-uniF1B7:before {
	content: "\f1d4";
}
.icon-uniF1B8:before {
	content: "\f1d5";
}
.icon-uniF1B9:before {
	content: "\f1d6";
}
.icon-uniF1BA:before {
	content: "\f1d7";
}
.icon-uniF1BB:before {
	content: "\f1d8";
}
.icon-uniF1BC:before {
	content: "\f1d9";
}
.icon-uniF1BD:before {
	content: "\f1da";
}
.icon-uniF1BE:before {
	content: "\f1db";
}
.icon-uniF1BF:before {
	content: "\f1dc";
}
.icon-uniF1C0:before {
	content: "\f1dd";
}
.icon-uniF1C1:before {
	content: "\f1de";
}
.icon-uniF1C2:before {
	content: "\f1df";
}
.icon-uniF1C3:before {
	content: "\f1e0";
}
.icon-uniF1C4:before {
	content: "\f1e1";
}
.icon-uniF1C5:before {
	content: "\f1e2";
}
.icon-uniF1C6:before {
	content: "\f1e3";
}
.icon-uniF1C7:before {
	content: "\f1e4";
}
.icon-uniF1C8:before {
	content: "\f1e5";
}
.icon-uniF1C9:before {
	content: "\f1e6";
}
.icon-uniF1CA:before {
	content: "\f1e7";
}
.icon-uniF1CB:before {
	content: "\f1e8";
}
.icon-uniF1CC:before {
	content: "\f1e9";
}
.icon-uniF1CD:before {
	content: "\f1ea";
}
.icon-uniF1CE:before {
	content: "\f1eb";
}
.icon-uniF1CF:before {
	content: "\f1ec";
}
.icon-uniF1D0:before {
	content: "\f1ed";
}
.icon-uniF1D1:before {
	content: "\f1ee";
}
.icon-uniF1D2:before {
	content: "\f1ef";
}
.icon-uniF1D3:before {
	content: "\f1f0";
}
.icon-uniF1D4:before {
	content: "\f1f1";
}
.icon-uniF1D5:before {
	content: "\f1f2";
}
.icon-uniF1D6:before {
	content: "\f1f3";
}
.icon-uniF1D7:before {
	content: "\f1f4";
}
.icon-uniF1D8:before {
	content: "\f1f5";
}
.icon-uniF1D9:before {
	content: "\f1f6";
}
.icon-uniF1DA:before {
	content: "\f1f7";
}
.icon-uniF1DB:before {
	content: "\f1f8";
}
.icon-uniF1DC:before {
	content: "\f1f9";
}
.icon-uniF1DD:before {
	content: "\f1fa";
}
.icon-uniF1DE:before {
	content: "\f1fb";
}
.icon-uniF1DF:before {
	content: "\f1fc";
}
.icon-uniF1E0:before {
	content: "\f1fd";
}
.icon-uniF1E1:before {
	content: "\f1fe";
}
.icon-uniF1E2:before {
	content: "\f1ff";
}
.icon-uniF1E3:before {
	content: "\f200";
}
.icon-uniF1E4:before {
	content: "\f201";
}
.icon-uniF1E5:before {
	content: "\f202";
}
.icon-UTIL:before {
	content: "\f203";
}
.icon-VANILLA:before {
	content: "\f204";
}
.icon-VEG_OIL:before {
	content: "\f205";
}
